<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.mybatisq.mapper.EmployeeMapper">
    <resultMap type="com.github.mybatisq.entity.Employee" id="employee">
        <id column="empId" property="empId"/>
        <result column="empNo" property="empNo"/>
        <result column="empName" property="empName"/>
        <result column="isFulltime" property="isFulltime"/>
        <result column="serialNo" property="serialNo"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="height" property="height"/>
        <result column="weight" property="weight"/>
        <result column="salary" property="salary"/>
        <result column="createDate" property="createDate"/>
    </resultMap>

    <select id="count" parameterType="com.github.mybatisq.Query" resultType="java.lang.Integer">
        select count(*) <include refid="com.github.mybatisq.mapper.QMapper.countFrom"/>
    </select>

    <select id="select" parameterType="com.github.mybatisq.Query" resultMap="employee">
        select <if test="selectedColumns.size > 0"><foreach collection="selectedColumns" item="col" separator=",">${tableAlias}.${col.name}</foreach></if><if test="selectedColumns.size == 0">${tableAlias}.empId,${tableAlias}.empNo,${tableAlias}.empName,${tableAlias}.isFulltime,${tableAlias}.serialNo,${tableAlias}.gender,${tableAlias}.birthday,${tableAlias}.height,${tableAlias}.weight,${tableAlias}.salary,${tableAlias}.createDate</if> <include refid="com.github.mybatisq.mapper.QMapper.selectFrom"/>
    </select>

    <insert id="insert" parameterType="com.github.mybatisq.entity.Employee" useGeneratedKeys="true" keyProperty="empId">
        <trim prefix="insert into Employee (" suffix=")" suffixOverrides=",">
            <if test="empId != null">empId,</if>
            <if test="empNo != null">empNo,</if>
            <if test="empName != null">empName,</if>
            <if test="isFulltime != null">isFulltime,</if>
            <if test="serialNo != null">serialNo,</if>
            <if test="gender != null">gender,</if>
            <if test="birthday != null">birthday,</if>
            <if test="height != null">height,</if>
            <if test="weight != null">weight,</if>
            <if test="salary != null">salary,</if>
            <if test="createDate != null">createDate,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="empId != null">#{empId},</if>
            <if test="empNo != null">#{empNo},</if>
            <if test="empName != null">#{empName},</if>
            <if test="isFulltime != null">#{isFulltime},</if>
            <if test="serialNo != null">#{serialNo},</if>
            <if test="gender != null">#{gender},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="height != null">#{height},</if>
            <if test="weight != null">#{weight},</if>
            <if test="salary != null">#{salary},</if>
            <if test="createDate != null">#{createDate},</if>
        </trim>
    </insert>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="empId">
        <trim prefix="insert into Employee (empNo,empName,isFulltime,serialNo,gender,birthday,height,weight,salary,createDate) values ">
            <foreach collection="list" item="item" separator=",">
                (#{item.empNo},#{item.empName},#{item.isFulltime},#{item.serialNo},#{item.gender},#{item.birthday},#{item.height},#{item.weight},#{item.salary},#{item.createDate})
            </foreach>
        </trim>
    </insert>

    <insert id="insertBySelect" parameterType="com.github.mybatisq.Insert">
        insert ${table.name}
        <foreach collection="insertColumns" item="c" open="(" close=")" separator=",">${c.name}</foreach>
        select <foreach collection="selectedColumns" item="col" separator=",">${tableAlias}.${col.name}</foreach>
        <include refid="com.github.mybatisq.mapper.QMapper.selectFrom"/>
    </insert>

    <update id="update" parameterType="com.github.mybatisq.entity.Employee">
        <trim prefix="update Employee set" suffix="where empId=#{empId}" suffixOverrides=",">
            <if test="empNo != null">empNo=#{empNo},</if>
            <if test="empName != null">empName=#{empName},</if>
            <if test="isFulltime != null">isFulltime=#{isFulltime},</if>
            <if test="serialNo != null">serialNo=#{serialNo},</if>
            <if test="gender != null">gender=#{gender},</if>
            <if test="birthday != null">birthday=#{birthday},</if>
            <if test="height != null">height=#{height},</if>
            <if test="weight != null">weight=#{weight},</if>
            <if test="salary != null">salary=#{salary},</if>
            <if test="createDate != null">createDate=#{createDate},</if>
        </trim>
    </update>

    <update id="batchUpdate">
        <trim prefix="update Employee set" suffixOverrides=",">
            <foreach collection="entityList" item="item" open="empNo=case empId " close=" end," separator=" ">when #{item.empId} then #{empNo}</foreach>
            <foreach collection="entityList" item="item" open="empName=case empId " close=" end," separator=" ">when #{item.empId} then #{empName}</foreach>
            <foreach collection="entityList" item="item" open="isFulltime=case empId " close=" end," separator=" ">when #{item.empId} then #{isFulltime}</foreach>
            <foreach collection="entityList" item="item" open="serialNo=case empId " close=" end," separator=" ">when #{item.empId} then #{serialNo}</foreach>
            <foreach collection="entityList" item="item" open="gender=case empId " close=" end," separator=" ">when #{item.empId} then #{gender}</foreach>
            <foreach collection="entityList" item="item" open="birthday=case empId " close=" end," separator=" ">when #{item.empId} then #{birthday}</foreach>
            <foreach collection="entityList" item="item" open="height=case empId " close=" end," separator=" ">when #{item.empId} then #{height}</foreach>
            <foreach collection="entityList" item="item" open="weight=case empId " close=" end," separator=" ">when #{item.empId} then #{weight}</foreach>
            <foreach collection="entityList" item="item" open="salary=case empId " close=" end," separator=" ">when #{item.empId} then #{salary}</foreach>
            <foreach collection="entityList" item="item" open="createDate=case empId " close=" end," separator=" ">when #{item.empId} then #{createDate}</foreach>
        </trim>
        <foreach collection="list" item="item" open="where empId in (" close=")" separator=",">#{item.empId}</foreach>
    </update>

    <update id="updateByBuilder" parameterType="com.github.mybatisq.Update">
        <trim prefix="update Employee">
            <include refid="com.github.mybatisq.mapper.QMapper.updateBuilder"/>
        </trim>
    </update>

    <delete id="delete">
        delete from Employee where empId=#{empId}
    </delete>

    <delete id="batchDelete">
        <trim prefix="delete from Employee where empId in (" suffix=")"><foreach collection="empIdList" separator="," item="item">#{item}</foreach></trim>
    </delete>

    <delete id="deleteByQuery" parameterType="com.github.mybatisq.DeleteQuery">
        <trim prefix="delete from Employee"><include refid="com.github.mybatisq.mapper.QMapper.deleteWhere"/></trim>
    </delete>
</mapper>