<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.mybatisq.mapper.EmpPostMapper">
    <resultMap type="com.github.mybatisq.entity.EmpPost" id="empPost">
        <id column="ep_id" property="epId"/>
        <result column="emp_id" property="empId"/>
        <result column="post_id" property="postId"/>
    </resultMap>

    <select id="count" parameterType="com.github.mybatisq.Query" resultType="java.lang.Integer">
        select count(*) <include refid="com.github.mybatisq.mapper.QMapper.countFrom"/>
    </select>

    <select id="select" parameterType="com.github.mybatisq.Query" resultMap="empPost">
        select <if test="selectedColumns.size > 0"><foreach collection="selectedColumns" item="col" separator=",">${tableAlias}.`${col.name}`</foreach></if><if test="selectedColumns.size == 0">${tableAlias}.`ep_id`,${tableAlias}.`emp_id`,${tableAlias}.`post_id`</if> <include refid="com.github.mybatisq.mapper.QMapper.selectFrom"/>
    </select>

    <insert id="insert" parameterType="com.github.mybatisq.entity.EmpPost" useGeneratedKeys="true" keyProperty="epId">
        <trim prefix="insert `emp_post` (" suffix=")" suffixOverrides=",">
            <if test="epId != null">`ep_id`,</if>
            <if test="empId != null">`emp_id`,</if>
            <if test="postId != null">`post_id`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="epId != null">#{epId},</if>
            <if test="empId != null">#{empId},</if>
            <if test="postId != null">#{postId},</if>
        </trim>
    </insert>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="epId">
        <trim prefix="insert `emp_post` (`emp_id`,`post_id`) values ">
            <foreach collection="list" item="item" separator=",">
                (#{item.empId},#{item.postId})
            </foreach>
        </trim>
    </insert>

    <insert id="insertBySelect" parameterType="com.github.mybatisq.Insert">
        insert `${table.name}`
        <foreach collection="insertColumns" item="c" open="(" close=")" separator=",">${c.name}</foreach>
        select <foreach collection="selectedColumns" item="col" separator=",">${tableAlias}.`${col.name}`</foreach>
        <include refid="com.github.mybatisq.mapper.QMapper.selectFrom"/>
    </insert>

    <update id="update" parameterType="com.github.mybatisq.entity.EmpPost">
        <trim prefix="update `emp_post` set" suffix="where `ep_id`=#{epId}" suffixOverrides=",">
            <if test="empId != null">`emp_id`=#{empId},</if>
            <if test="postId != null">`post_id`=#{postId},</if>
        </trim>
    </update>

    <update id="batchUpdate">
        <trim prefix="update `emp_post` set" suffixOverrides=",">
            <foreach collection="entityList" item="item" open="`emp_id`=case `ep_id` " close=" end," separator=" ">when #{item.epId} then #{empId}</foreach>
            <foreach collection="entityList" item="item" open="`post_id`=case `ep_id` " close=" end," separator=" ">when #{item.epId} then #{postId}</foreach>
        </trim>
        <foreach collection="list" item="item" open="where `ep_id` in (" close=")" separator=",">#{item.epId}</foreach>
    </update>

    <update id="updateByBuilder" parameterType="com.github.mybatisq.Update">
        <trim prefix="update `emp_post`">
            <include refid="com.github.mybatisq.mapper.QMapper.updateBuilder"/>
        </trim>
    </update>

    <delete id="delete">
        delete from `emp_post` where ep_id=#{epId}
    </delete>

    <delete id="batchDelete">
        <trim prefix="delete from `emp_post` where `ep_id` in (" suffix=")"><foreach collection="epIdList" separator="," item="item">#{item}</foreach></trim>
    </delete>

    <delete id="deleteByQuery" parameterType="com.github.mybatisq.DeleteQuery">
        <trim prefix="delete from `emp_post`"><include refid="com.github.mybatisq.mapper.QMapper.deleteWhere"/></trim>
    </delete>
</mapper>