<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.mybatisq.mapper.PositionMapper">
    <resultMap type="com.github.mybatisq.entity.Position" id="position">
        <id column="post_id" property="postId"/>
        <result column="post_no" property="postNo"/>
        <result column="post_name" property="postName"/>
    </resultMap>

    <select id="count" parameterType="com.github.mybatisq.Query" resultType="java.lang.Integer">
        select count(0) <include refid="com.github.mybatisq.mapper.QMapper.countFrom"/>
    </select>

    <select id="select" parameterType="com.github.mybatisq.Query" resultMap="position">
        select ${tableAlias}.post_id,${tableAlias}.post_no,${tableAlias}.post_name <include refid="com.github.mybatisq.mapper.QMapper.selectFrom"/>
    </select>

    <insert id="insert" parameterType="com.github.mybatisq.entity.Position" useGeneratedKeys="true" keyProperty="postId">
        <trim prefix="insert position (" suffix=")" suffixOverrides=",">
            <if test="postId != null">post_id,</if>
            <if test="postNo != null">post_no,</if>
            <if test="postName != null">post_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postId != null">#{postId},</if>
            <if test="postNo != null">#{postNo},</if>
            <if test="postName != null">#{postName},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.github.mybatisq.entity.Position">
        <trim prefix="update position set" suffix="where post_id=#{postId}" suffixOverrides=",">
            <if test="postNo != null">post_no=#{postNo},</if>
            <if test="postName != null">post_name=#{postName},</if>
        </trim>
    </update>

    <delete id="delete">
        delete from position where post_id=#{postId}
    </delete>
</mapper>